<td><%= link_to user.user_name, user %></td>
<td>
  <%= link_to user.email, user %>
</td>
<%= form_for(user) do |f| %>
   	<td><%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %></td>
   	<td><%= f.label "active" %>
       <%= f.check_box :state %>
    </td>
    <td><%= f.submit 'Change', :class => 'button-xs' %></td>
 
  <% end %>
<td>
  	<%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') unless user == current_user %>
</td>

