<%= form_for @news, :html => { :class => 'form-horizontal', multipart: true } do |f| %>
    <%= f.select :category, [["Sports","Sports"], ["Entertainment","Entertainment"], ["National","National"],
                                                ["International","International"],
                                                 ["Arts","Arts"],
                                        ], id: 'category', prompt: 'Select...', :required => false, class: 'form-control' %>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
 
 <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>



  <div class="control-group">
    <%= f.label :keywords, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :keywords, :class => 'text_field' %>
    </div>
  </div>


   <div class="control-group">
    <%= f.label :images, :class => 'control-label' %>
    <div class="controls">
      <%= file_field_tag "images[]", type: :file, multiple: true %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    
  </div>
<% end %>


