<link type="text/css" rel="stylesheet" href="/assets/jquery-te-1.4.0.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/assets/jquery-te-1.4.0.min.js" charset="utf-8"></script>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for @news, :html => { :class => 'form-horizontal', multipart: true } do |f| %>
        <div class="row">
          <div class="col-md-12">
            <label>Category</label>
              <div class="form-group">
                <%= f.select :category, [["Sports","Sports"], ["Entertainment","Entertainment"], ["National","National"],
                                ["International","International"],["Arts","Arts"],], {id: 'category', prompt: 'Select...'}, :required => false, class: 'form-control' %>
              </div>                  
          </div>
        </div> 
        <%= f.hidden_field :user_id, value: current_user.id %>
        <div class="row">
          <div class="col-md-12">
            <%= f.label :description, :class => 'control-label' %>
            <div class="form-group">
              <%= f.text_area :description, :class => 'jqte-test form-control' %>
            </div>
          </div>  
        </div>
       
        <div class="row">
          <div class="col-md-12">
            <%= f.label :title, :class => 'control-label' %>
            <div class="form-group">
              <%= f.text_field :title, :class => 'form-control' %>
            </div>  
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <%= f.label :keywords, :class => 'control-label' %>
            <div class="form-group">
              <%= f.text_field :keywords, :class => 'form-control' %>
            </div>
          </div>  
        </div>

        <div class="row">
          <div class="col-md-12">
            <label>Upload Image</label>
            <div class="form-group">
              <span class="btn btn-success btn-file">
                  <i class="fa fa-cloud-upload fa-lg"></i> Upload Photos
                    <%= file_field_tag "images[]", type: :file, multiple: true %>
              </span>    
            </div>
          </div>  
        </div>

        <div class="row">
          <div class="col-md-6 col-md-offset-4">
            <%= f.submit nil, :class => 'btn btn-info' %>
          </div>
        </div>  
    <% end %>
  </div>
</div>    

<script>
  $('.jqte-test').jqte();
  
  // settings of status
  var jqteStatus = true;
  $(".status").click(function()
  {
    jqteStatus = jqteStatus ? false : true;
    $('.jqte-test').jqte({"status" : jqteStatus})
  });
</script>
