<link rel="stylesheet" type="text/css" href="/assets/pagination.css">
<link rel="stylesheet" type="text/css" href="/assets/hover-effect.css">
<style type="text/css">
	figure img
	{
		width: 100%;
		height: 319px;
	}
	.fh5co-article-title
	{
		white-space: nowrap; 
	    width: 100%; 
	    overflow: hidden;
	    text-overflow: ellipsis; 
	   
	}
	
	.posted-view
	{
		color: #fff;
	}

</style>
<div class="container-fluid">
		<!--%= link_to "News", news_index_path, class:"sidebar-link active"%-->
		<!--div class="panel-heading" style="background-color:#6dae4e;">
			News(<%= @news.length %>)
		</div-->
		<div class="row fh5co-post-entry">
			<% @news.each do |news| %>
			
				<article class="col-lg-4 col-md-4 col-sm-4 col-xs-6 col-xxs-12 animate-box">
					<div class="hovereffect">
						<figure>
							<%= link_to news do %>
							<%= image_tag news.news_photos[0].image.url if news.news_photos.length > 0 %>
							<% end %>
						</figure>
						<% if user_signed_in? %>
							<% if current_user.id == news.user.id || current_user.admin? %>
								<div class="overlay">
									<% if news.user_name.present? %>
					                	<h3 class="posted-view">Posted By <%= news.user_name %></h3>
					                <% else %>
					                	<h3>Posted By True Observer</h3>	
					                <% end %>	
									<%= link_to "Edit", edit_news_path(news), class: "info" %>
									<%= link_to 'Delete', news_path(news), :method => 'delete', data: {confirm: "Are you sure?"}, :class => 'info' %><br>
									<%= link_to "Qucik View", news_path(news), class: "info" %>
								</div>
							<% end %>	
			            <% else %>
			            	<div class="overlay">
			            		<% if news.user_name.present? %>
				                	<h3>Posted By <%= news.user_name %></h3>
				                <% else %>
				                	<h3>Posted By True Observer</h3>
				                <% end %>	 
								<%= link_to "Qucik View", news_path(news), class: "info" %>
				            </div>
			            <% end %>
					</div>
					<%= link_to news do %>
					<span class="fh5co-meta"><%=  news.category %></span>
					<h2 class="fh5co-article-title"><%= news.title %></h2>
					<!--% if current_user.id == news.user.id || current_user.admin? %>
                    	<!--%= link_to "Edit", edit_news_path(news), class: "btn btn-mini" %>
                    	<!--%= link_to 'Delete', news_path(news), :method => 'delete', data: {confirm: "Are you sure?"}, :class => 'btn btn-mini' %>
                    <!--% end %-->
                                        <% if news.user_name.present? %>
					<span class="fh5co-meta">Posted By <%= news.user_name %></span>
                                        <% else %>
                                        <p> Posted By: True Observer </p>
                                         <% end %> 
                                

					<span class="fh5co-meta fh5co-date"> <%= news.created_at.to_time.strftime("%B %d, %Y") %></span>
					<% end %>
				</article>
			
			<% end %>
		</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="digg_pagination">
			    <div class="page_info">
			      <%= page_entries_info @posts %>
			    </div>
			    <center>
			    <div class="paginate-width" align="center">
    				<%= will_paginate @posts, :container => false %>
    			</div>
    			</center>		
  			</div>
		</div>
	</div>
</div>			
