<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails Devise Roles" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Devise Roles" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
=======
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Magazine</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<!-- Animate -->
	<link rel="stylesheet" href="/assets/animate.css">
	<!-- Icomoon -->
	<link rel="stylesheet" href="/assets/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/assets/bootstrap.css">

	<link rel="stylesheet" href="/assets/style.css">


	<!-- Modernizr JS -->
	<script src="/assets/modernizr-2.6.2.min.js"></script>
>>>>>>> b639845d7e09c8c05948584dbf17aa80638d435d
  </head>
  <body>
<<<<<<< HEAD
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
=======
  	<%= render 'shared/navbar' %>
    <%= render 'shared/message' %>
    <%= yield %>
    <%= render 'shared/footer' %>
>>>>>>> b639845d7e09c8c05948584dbf17aa80638d435d
  </body>
  <!-- jQuery -->
	<script src="/assets/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/assets/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/assets/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/assets/jquery.waypoints.min.js"></script>
	<!-- Main JS -->
	<script src="/assets/main.js"></script>
</html>

